 .text-area{
    -fx-background-color: transparent;
    -fx-border-color:#91afc5;
    -fx-background-insets: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 1.5;
 }

 .text-area .scroll-bar:vertical .track{
     -fx-background-color :transparent;
     -fx-border-color :transparent;
     -fx-background-radius : 0.0em;
     -fx-border-radius :2.0em;
 }

 .text-area .scroll-bar:vertical .increment-button ,
 .text-area .scroll-bar:vertical .decrement-button {
     -fx-background-color :transparent;
     -fx-background-radius : 0.0em;
     -fx-padding :0.0 10.0 0.0 0.0;

 }

 .text-area .scroll-bar .increment-arrow,
 .text-area .scroll-bar .decrement-arrow{
     -fx-shape : " ";
     -fx-padding :0.15em 0.0;
 }

  .text-area .scroll-bar:vertical .increment-arrow,
  .text-area .scroll-bar:vertical .decrement-arrow{
     -fx-shape : " ";
     -fx-padding :0.0 0.15em;
 }

 .text-area .scroll-bar:vertical .thumb {
     -fx-background-color: #91afc5;
     -fx-background-insets : 2.0, 0.0, 0.0;
     -fx-background-radius : 2.0em;
 }

 .text-area .scroll-bar:vertical .thumb:hover {
     -fx-background-color : #84a1b5;
     -fx-background-insets : 2.0, 0.0, 0.0;
     -fx-background-radius : 2.0em;
 }

 .text-area .scroll-bar:vertical{
    -fx-pref-width: 9;
 }


